a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}



html,
body,
header,
footer,
section,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}